<h2>{{ title }}</h2>

{% include '/themes/zero/gulp/src/components/text/wysiwyg/wysiwyg.twig' with {
  body: description,
} %}

{% embed '/themes/zero/gulp/src/components/layout/description-wrap/description-wrap.twig' %}
  {% block content %}
    {% include '/themes/zero/gulp/src/components/text/code/code.twig' %}
  {% endblock %}
  {% block description %}
    {% include '/themes/zero/gulp/src/components/text/wysiwyg/wysiwyg.twig' with {
      small: true,
    } %}
  {% endblock %}
{% endembed %}
