// Description Wrap
//
// Markup: description-wrap.twig
//
// Styleguide: layout.description-wrap

@import 'colors'

.description-wrap
  box-shadow: 0 0 10px color(dark_blue)

  &__description
    @include background(gray)
    font-style: italic
    font-size: .8rem
    padding: 0 1em