{{ attach_library('zero/chart') }}

<div class="chart" data-chart-uuid="{{ uuid }}">
  <div class="chart__chart">
    <canvas class="chart__canvas"></canvas>
  </div>
  <div class="chart__votes">
    <div class="chart__title">Kommentare</div>
    <div class="chart__content"></div>
  </div>
</div>
